@import "../constants/mixins";
@import "../constants/colors";

#aboutreorg {
  .about_features {
    @include tablet-upwards {
      margin-top: 4.75rem;
    }

    @include desktop {
      @include flexmixin(row, no-wrap, flex-start, space-between, 0);
    }

    .about {
      @include desktop {
        width: 20%;
      }

      .p0 {
        font-size: 1.75rem;
        font-weight: 400;
      }

      .p1 {
        @include usefontLS();
        font-size: 1.25rem;
        color: $bluee;

        span {
          font-size: 1rem;
          color: $danger;
        }
      }
    }

    .features {
      @include tablet-upwards {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
      }

      @include desktop {
        width: calc(100% - 24%);
        margin-top: unset;
      }

      @include flexmixin(column, no-wrap, center, center, 0.5rem);
      margin-top: 1rem;

      #_feat_base {
        @include tablet-upwards {
          width: 32.5%;
          font-size: 1.125rem;
        }

        @include flexmixin(row, no-wrap, center, center, 0.5rem);
        width: 100%;
        height: 5rem;
        border-radius: 0.25rem;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        transition: all ease-in-out 0.25s;

        &:hover {
          border-radius: 0;
        }
      }

      ._feat {
        color: $primary;
        background-color: $success;
      }

      ._feat_incomplete {
        border: 1px solid $divider;
        border-radius: 0.25rem;
        color: $text_primary;
        background-color: $primary;
      }
    }
  }

  .for_founders_investors {
    @include desktop {
      @include flexmixin(row, no-wrap, flex-start, space-between, 0);
      padding: 1.25rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    @include big-desktop {
      padding: 2rem;
    }

    margin-top: 1.75rem;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    background-color: $secondary;

    .for_founders,
    .for_investors {
      @include desktop {
        width: 48%;
      }

      @include big-desktop {
        width: 28%;
      }

      .p0 {
        @include flexmixin(row, no-wrap, center, flex-start, 0.5rem);
        font-size: 1.25rem;
        font-weight: 500;
      }

      .p1 {
        @include desktop {
          text-align: justify;
          font-weight: 400;
        }

        margin-top: 0.25rem;
        font-size: 1.125rem;
        font-weight: 300;
        color: $text_primary;
      }
    }

    .for_founders {
      .p0 {
        color: $bluee;
      }
    }

    .for_investors {
      @include desktop {
        margin-top: unset;
      }

      margin-top: 1rem;

      .p0 {
        color: $danger;
      }
    }

    .growth {
      @include big-desktop {
        @include flexmixin(row, no-wrap, center, center, 0);
      }

      display: none !important;
      width: 38%;
      border: 0;
      border-left: 1px solid $divider;

      img {
        width: 48%;
      }
    }
  }

  .how_it_works {
    margin-top: 1.75rem;

    .p0 {
      @include usefontJO();
      text-transform: capitalize;
      font-size: 1.5rem;
      font-weight: 400;
      color: $danger;
    }

    ._steps {
      @include tablet-upwards {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
      }

      @include flexmixin(column, no-wrap, center, center, 0.5rem);
      margin-top: 0.5rem;

      img {
        width: 3rem;
        height: 3rem;
      }

      ._stepp {
        @include tablet-upwards {
          width: 49%;
          min-height: 13.75rem;
        }

        @include desktop {
          width: 32.5%;
          min-height: 12.75rem;
        }

        padding: 0.5rem;
        border-radius: 0.375rem;
        background-color: $bluee;

        .step_count {
          @include usefontJO();
          font-size: 1.125rem;
          color: $primary;
        }

        .title_img {
          @include flexmixin(row, no-wrap, flex-end, space-between, 0);
          margin-bottom: 0.5rem;
          padding-bottom: 0.5rem;
          border: 0;
          border-bottom: 1px solid $primary;

          p {
            @include usefontJO();
            font-size: 1.125rem;
            color: $primary;
          }
        }

        .step_desc {
          color: $primary;
        }
      }
    }
  }

  .copy_contact {
    margin-top: 1.75rem;

    .copy {
      @include flexmixin(row, no-wrap, center, flex-start, 0.5rem);
      @include usefontLS();
      font-size: 1.5rem;
      font-weight: 600;
      color: $bluee;
    }

    .reserved {
      margin-top: 0.5rem;
      font-size: 1.025rem;
      font-weight: 400;
      color: $text_secondary;
    }

    .contact {
      @include flexmixin(row, no-wrap, center, flex-start, 0.75rem);
      margin-top: 0.75rem;
    }
  }
}
