/* styles/pages/tokens.scss */
.container {
  width: 100%;
  background-color: #ffffff; /* White background */
  padding: 20px; /* Add padding for spacing */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  margin: 20px 0; /* Optional: Add margin for spacing from other elements */
  height: 600px; /* Fixed height for the container */

  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Allow vertical scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  margin-bottom: 10px;
}

.nav {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .title {
    width: 35%;
    margin-bottom: 10px;
  }
}

.title {
  display: flex;
  flex-direction: row;
  padding-inline-end: 20px;
  justify-content: space-between;
}

.number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
  background-color: #006ad4; /* Badge background color */
  color: #ffffff; /* Text color */
  border-radius: 50%; /* Make the badge circular */
  font-size: 12px; /* Adjust font size as needed */
  font-weight: bold; /* Make the number bold */
  margin-left: 5px; /* Spacing from the element on the left */
  line-height: 1; /* Ensure the number is vertically centered */
  text-align: center; /* Center the text horizontally */
}

.genesis {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 10px;
  padding: 10px;
  background-color: #f5f5f5; /* Light background color for contrast */
  border-radius: 8px; /* Rounded corners for a softer look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.genesis > span,
.genesis > h4 {
  flex: 1 1 auto; /* Allow items to grow and shrink */
  text-align: center;
  padding: 8px 12px; /* Padding for spacing */
  border-right: 1px solid #ddd; /* Border between items */
}

.genesis > h4:last-child {
  border-right: none; /* Remove border from the last item */
}

@media (max-width: 768px) {
  .genesis {
    flex-direction: row; /* Keep row layout on mobile */
  }

  .genesis > span,
  .genesis > h4 {
    min-width: 150px; /* Minimum width for each item */
  }

  .genesis > h4:last-child {
    border-right: none; /* Remove border from the last item */
  }
}

.genesis-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 10px;
  padding: 10px;
  border-radius: 8px; /* Rounded corners for a softer look */
}

.genesis-item > img,
.genesis-item > p {
  flex: 1 1 auto; /* Allow items to grow and shrink */
  text-align: center;
  padding: 8px 12px; /* Padding for spacing */
}

.genesis-item > p:last-child {
  border-right: none; /* Remove border from the last item */
}

@media (max-width: 768px) {
  .genesis-item {
    flex-direction: row; /* Keep row layout on mobile */
  }

  .genesis-item > img,
  .genesis-item > p {
    min-width: 150px; /* Minimum width for each item */
  }

  .genesis-item > p:last-child {
    border-right: none; /* Remove border from the last item */
  }
}

.logo-img {
  width: 40px; /* Set width */
  height: 40px; /* Set height */
  border-radius: 50%; /* Makes the logo round */
  background-color: #f5f5f5; /* Background color, adjust as needed */
  display: flex; /* Center content inside */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  overflow: hidden; /* Hide anything outside the circle */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
}

/* If the logo is an image */
.logo-img img {
  width: auto; /* Maintain aspect ratio */
  height: 100%; /* Make image fit the height of the circle */
  object-fit: cover; /* Ensure image covers the circle */
}
.view-tokens {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

.breadcrumb-container {
  margin-bottom: 20px;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  list-style: none;

  border-radius: 0.375rem;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  padding: 0 0.5rem;
  color: #6c757d;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #006ad4;
}

.breadcrumb-item.active {
  color: #212529;
}
