$primary: rgba(36, 36, 36, 1);
$secondary: rgba(50, 50, 50, 0.4);
$secondary_base: rgba(50, 50, 50, 1);
$text_primary: rgba(238, 238, 238, 1);
$text_secondary: rgba(197, 197, 197, 1);
$divider: rgba(252, 234, 234, 0.03);
$success: rgba(80, 200, 120, 1);
