@import "../constants/colors";
@import "../constants/mixins";

.mobilenavctr {
  @include tablet-upwards {
    display: none !important;
  }

  @include flexmixin(row, no-wrap, center, space-between, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  padding: 0.5rem;
  border: 0;
  border-bottom: 1px solid $divider;
  // background-color: transparent;
  z-index: 1000;
  // background: linear-gradient(-45deg, #2c3e50, #4a0e29, #16222a, #e73c7e);
  background-color: #2c3e50;
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  .logo {
    @include usefontLS();
    font-size: 1.75rem;
    font-weight: 600;
  }

  .drawerbtn {
    @include flexmixin(row, no-wrap, center, center, 0);
    width: 2rem;
    height: 2rem;
    border: 1px solid $divider;
    border-radius: 0.25rem;
    outline: none;
    outline-color: transparent;
    // background-color: transparent;
  }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.6;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}
.desktopnavctr {
  @include tablet-upwards {
    @include flexmixin(row, no-wrap, center, space-between, 0);
  }

  display: none !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  padding: 0 2.5rem;
  border: 0;
  border-bottom: 1px solid $divider;
  // background-color:transparent;
  z-index: 1000;
  // background: linear-gradient(-45deg, #2c3e50, #4a0e29, #16222a,#e73c7e,);
  background-color: #2c3e50;
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  .logo_links {
    @include flexmixin(row, no-wrap, center, flex-start, 1rem);

    .logo {
      @include usefontLS();
      font-size: 1.75rem;
      font-weight: 600;
    }

    .links {
      @include flexmixin(row, no-wrap, center, flex-start, 1rem);

      a {
        @include usefontJO();
        @include flexmixin(row, no-wrap, center, flex-start, 0.5rem);
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 400;
        color: $bluee;
      }
    }
  }

  .actions {
    @include flexmixin(row, no-wrap, center, flex-end, 1.5rem);

    button {
      @include flexmixin(row, no-wrap, center, center, 0.5rem);
      @include usefontJO();
      height: 2rem;
      padding: 0.25rem 2rem;
      border: 0;
      border-radius: 0.25rem;
      outline: none;
      outline-color: transparent;
      font-size: 1.025rem;
      font-weight: 400;
      background-color: $bluee;
      color: $primary;
      cursor: pointer;
      transition: all ease-in-out 0.25s;

      &:hover {
        border-radius: 0;
      }

      span {
        @include desktop {
          display: block !important;
        }

        display: none !important;
      }
    }

    ._connect {
      border: 1px solid $bluee;
      background-color: transparent;
      color: $bluee;
    }
  }
}
.principal {
  color: $bluee;
}
