@tailwind base;
@tailwind components;
@tailwind utilities;

ol {
  list-style-type: decimal;
}
ul {
  list-style-type: disc;
}
.mvoi{
  height: 200px;
  width: 100%;
  background-color: aquamarine;
}
.mvoi2{

}